<!-- index.html -->
<!DOCTYPE html>
<html ng-app="store">
	<head>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
		<!-- //CSS -->
	</head>

	<body ng-controller="StoreController as store">
		<!-- Scripts -->
		<script type="text/javascript" src="assets/js/angular.min.js"></script>
		<script type="text/javascript" src="assets/js/app.js"></script>
		<!-- //Scripts -->

		<!-- Code -->

		<!-- Gems -->
		<!-- <div  ng-repeat="product in store.products">
			<h1>{{product.name}}</h1>
			<em class="pull-right">${{product.price}}</em>
			<p>{{product.description}}</p>
			<button ng-show="product.canPurchase">Add to cart</button>
		</div> -->

		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.products">
				<h3>
					{{product.name}}
					<em class="pull-right">{{product.price | currency}}</em>
					<img ng-src="{{product.images[0].thumb}}">
				</h3>
				<!-- TAB-SECTIONS -->
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{ active:isSelected(1) }">
							<a ng-click="panel.selectTab(1)" href>Description</a>
						</li>
						<li ng-class="{ active:isSelected(2) }">
							<a ng-click="panel.selectTab(2)" href>Specifications</a>
						</li>
						<li ng-class="{ active:isSelected(3) }">
							<a ng-click="panel.selectTab(3)" href>Reviews</a>
						</li>
					</ul>
					<!-- {{tab}} -->
					<!-- TAB-PANELS -->
					<!-- DESCRIPTION -->
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<p>{{product.description}}</p>
					</div>
					<!-- //DESCRIPTION -->
					<!-- SPECIFICATION -->
					<div class="panel" ng-show="panel.isSelected(2)">
						<h4>Specifications</h4>
						<blockquote>None yet</blockquote>
					</div>
					<!-- //SPECIFICATION -->
					<!-- REVIEWS -->
					<div class="panel" ng-show="panel.isSelected(3)">
						<h4>Reviews</h4>
						<!-- The review -->
						<blockquote ng-repeat="review in product.reviews">
							<b>{{review.stars}} Stars</b>
							{{review.body}}
							<cite class="clearfix">by : {{review.author}}</cite>
						</blockquote>
						<!-- Form -->
						<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
														ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
							<!-- LivePreview -->
							<div class="form-group">
							<h3>Submit a review</h3>
							<blockquote>
								<b>{{reviewCtrl.review.stars}} Stars</b>
								{{reviewCtrl.review.body}}
								<cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
							</blockquote>
							<!-- ActualForm -->
							<select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
								<option value="">Rate the Product</option>
							</select>
							<br>
							<textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" required></textarea>
							<br>
							<input class="form-control" id="inputAuthor" type="email" ng-model="reviewCtrl.review.author" placeholder="jimmyDean@example.org" title="Email" required>
							<br>
							<!-- DEBUGING-CODE (prints forms validity) -->
							<div>reviewForm is {{reviewForm.$valid}}</div>
							<input class="btn btn-primary mb-2 pull-right" type="submit" value="Submit">
						</div>
						</form>
					</div>
					<!-- //REVIEWS -->
					<!-- //TAB-PANELS -->
				</section> <!-- //TAB-SECTIONS -->
				<!-- <p>{{product.description}}</p> -->
			</li>
		</ul>
		<!-- //Gems -->

		<!-- //Code -->
	</body>
</html>
